<template>
  <div>
    <Title title="Navigation 1 in 60 rule" />
    <p class="tolerance" id="tolerance"></p>
    <p id="question"></p>
    <input type="text" name="answer" id="answer" />
    <button class="drill-button" id="submit" >Submit</button>
    <button class="drill-button" id="giveup">Give Up</button>
    <button class="drill-button" id="next-question">Next Question</button>

    <div id="more-info">
      <h1 id="correctness"></h1>
      <div id="explanation"></div>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title.vue'

const tolerance = 2

export default {
  components: {
    Title
  },
  methods: {
    getHeading () {
      return this.randomBetween(1, 36) * 10
    },
    getSide () {
      return Math.random() < 0.5
    },
    getMile () {
      return this.randomBetween(1, 4)
    },
    getFactorOf60 () {
      const factorsOfSixty = [2, 3, 4, 5, 6, 10, 12, 15, 20, 30]
      return factorsOfSixty[this.randomBetween(0, factorsOfSixty.length - 1)]
    },
    getDistanceMultiplier () {
      return this.randomBetween(2, 4)
    },
    randomBetween (min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min)
    },
    saySide (side) {
      return side ? 'left' : 'right'
    },
    sayMiles (miles) {
      return `${miles} mile${(miles === 1 ? '' : 's')}`
    },
    getQuestion (heading, t1, t2, side, dt) {
      return `You are heading ${heading}&deg; on a leg of ${this.sayMiles(t1 + t2)} and after ${this.sayMiles(t1)} you find you are ${this.sayMiles(dt)} ${this.saySide(side)} of your intended track. What is the new heading (nearest integer) to the destination?`
    },
    mod360Add (x, y) {
      let r = x + y
      if (r < 0) r += 360
      return r % 360
    },
    multiplySide (side) {
      return side ? 1 : -1
    },
    writeQuestion (heading, t1, t2, side, dt) {
      const question = this.getQuestion(heading, t1, t2, side, dt)
      document.getElementById('correctness').innerHTML = ''
      document.getElementById('explanation').innerHTML = ''
      document.getElementById('question').innerHTML = question
    },
    newQuestion () {
      const heading = this.getHeading()
      const factor = this.getFactorOf60()
      const mult1 = this.getDistanceMultiplier()
      const mult2 = this.getDistanceMultiplier()
      const t1 = factor * mult1
      const t2 = factor * mult2
      const side = this.getSide()
      const dt = this.getMile()
      return [heading, t1, t2, side, dt]
    },
    getAnswer (heading, t1, t2, side, dt) {
      const te = 60 / t1 * dt
      const ca = 60 / t2 * dt
      const m = this.multiplySide(side)
      return this.mod360Add(heading, m * (te + ca))
    },
    sayOppositeSide (side) {
      return this.saySide(!side)
    },
    saySideOperator (side) {
      return side ? '+' : '-'
    },
    round1in60 (n) {
      return Math.round(n)
    },
    main () {
      let params = this.newQuestion()
      this.writeQuestion(params[0], params[1], params[2], params[3], params[4])
      const textbox = document.getElementById('answer')
      const correctness = document.getElementById('correctness')
      document.getElementById('submit').addEventListener('click', () => {
        if (textbox.value !== '') {
          const userAnswer = textbox.value
          const answer = this.getAnswer(params[0], params[1], params[2], params[3], params[4])
          if (userAnswer >= answer - tolerance && userAnswer <= answer + tolerance) {
            correctness.innerHTML = `Correct! ${answer}&deg; is your new heading`
            textbox.value = ''
            document.getElementById('explanation').innerHTML = ''
          } else {
            correctness.innerHTML = `Incorrect, ${textbox.value}&deg; is not your new heading`
            this.writeExplanation(params[0], params[1], params[2], params[3], params[4])
            textbox.value = ''
          }
        }
      })

      document.getElementById('tolerance').innerHTML = `tolerance of error &#x00B1;${tolerance}`

      document.getElementById('giveup').addEventListener('click', () => {
        correctness.innerHTML = 'Give Up?'
        this.writeExplanation(params[0], params[1], params[2], params[3], params[4])
        textbox.value = ''
      })

      document.getElementById('next-question').addEventListener('click', () => {
        params = this.newQuestion()
        this.writeQuestion(params[0], params[1], params[2], params[3], params[4])
        textbox.value = ''
      })

      textbox.addEventListener('keyup', function (event) {
        if (event.keyCode === 13) {
          event.preventDefault()
          document.getElementById('submit').click()
        }
      })
    },
    writeExplanation (heading, t1, t2, side, dt) {
      const te1in60 = this.round1in60(60 / t1 * dt)
      const ca1in60 = this.round1in60(60 / t2 * dt)

      document.getElementById('explanation').innerHTML = `
        <hr>

        <h2> 1. You calculate drift angle (DR) which will give a track parallel to initial Track Required (TR) </h2>
        <p>
          After ${this.sayMiles(t1)}, you are ${this.sayMiles(dt)} off-track, so you apply the 1 in 60 rule… <br>
          therefore, maintaining the same heading, after ${this.sayMiles(60)} you would be ${this.sayMiles(te1in60)} off-track. <br>
          
          <br>
          To perform this calculation: <br><br>
          <div class="calculation">
            60 &#247; distance travelled &#215; distance off-track <br>
            = 60 &#247; ${t1} &#215; ${dt} <br>
            &asymp; ${te1in60}
          </div>
          <br>
          <br>

          You conclude that a heading correction of ${te1in60}&deg; to the ${this.sayOppositeSide(side)} would correct your drift angle and put you on a track that is parallel to your initial intended track. Or in other words, ${te1in60}&deg; is your track error (TE).
        </p>

        <hr>

        <h2>2. Next you must calculate the closing angle (CA) to track to your destination</h2>

        <p>
          If you corrected only for track error, you would fly parallel to your intended track and arrive ${this.sayMiles(dt)} to the ${this.saySide(side)} of your destination. <br>
          You have ${this.sayMiles(t2)} remaining to your destination and you are ${this.sayMiles(dt)} off-track, so you again apply the 1 in 60 rule&hellip; <br>

          <br>

          To perform this calculation: <br><br>
          <div class="calculation">
            60 &#247; distance remaining &#215; distance off-track <br>
            = 60 &#247; ${t2} &#215; ${dt} <br>
            &asymp; ${ca1in60}
          </div>

          <br>
          <br>

          You conclude that a heading correction of ${ca1in60}&deg; to the ${this.sayOppositeSide(side)} would correct for your closing angle. Or in other words, ${ca1in60}&deg; is your closing angle (CA).
        </p>

        <hr>

        <h2>3. Your heading correction is the sum of your track error and your closing angle</h2>

        <p>
          track error = ${te1in60}&deg; <br>
          closing angle = ${ca1in60}&deg; <br>
          heading correction = ${te1in60 + ca1in60}&deg; to the ${this.sayOppositeSide(side)}
        </p>

        <hr>

        <h2>4. Finally, you apply your heading correction of to your current heading</h2>

        <p>

          current heading = ${heading} <br>
          heading correction = ${te1in60 + ca1in60}&deg; to the ${this.sayOppositeSide(side)} <br>
          new heading = current heading ${this.saySideOperator(side)} heading correction <br>
        </p>
        <hr>
        <div class="answer-box">
          <h1>YOUR NEW HEADING</h1>
          <h2>${this.mod360Add(heading, (te1in60 + ca1in60) * this.multiplySide(side))}&deg;</h2>
        </div>
      `
    }
  },
  mounted () {
    this.main()
  }
}
</script>

<style lang="scss">
@use '@/styles/_presets.scss';
@import '@/styles/_colors.scss';

.drill-button {
  @extend .rounded;
  background: $secondary;
  padding: 0.5em;
  border: solid 1px $secondary-hover;
  margin: 0.3em 0 0 0.3em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background: $secondary-hover;
  }
}

#answer {
  @extend .rounded;
  border: 1px solid $primary;
  padding: 0.2em;
}

.calculation {
  @extend .rounded;
  background: $primary;
  display: inline-block;
  padding: 1em;
  color: $secondary;
}

.tolerance {
  @extend .rounded;
  background: #ddd;
  display: inline-block;
  padding: 0.4em;
  color: #222;
  font-weight: bold;
}

.answer-box h2 {
  display: inline-block;
  background: black;
  color: white;
  font-size: 2em;
  font-family: monospace;
  padding: 3vw 10vw;
}
</style>
