<template>
  <div>
    <Title title="Pressure Altitude from QNH and Elevation" />
    <div class="tolerance" id="tolerance"></div>
    <p id="question"></p>
    <input type="text" name="answer" id="answer" />
    <button class="drill-button" id="submit">Submit</button>
    <button class="drill-button" id="giveup">Give Up</button>
    <button class="drill-button" id="next-question">Next Question</button>
    <div id="more-info">
      <h1 id="correctness"></h1>
      <div id="explanation"></div>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title.vue'

const tolerance = 15
const airportsEle = [['Archerfield', 65], ['Toowoomba', 2087], ['Gold Coast', 21], ['Sunshine Coast', 15], ['Warwick', 1527], ['Stanthorpe', 2934], ['Bankstown', 34], ['Amberley', 91], ['Avalon', 35], ['Camden', 230], ['Carnarvon', 13], ['Chinchilla', 1030], ['Charleville', 1003], ['Clifton', 1450], ['Cobar', 724], ['Coober Pedy', 745], ['Temora', 921], ['Wondai', 1050], ['Nullabor Motel', 220], ['Oodnadatta', 386], ['Pittsworth', 1690], ['Pooncarie', 164], ['Port Macquarie', 15], ['Swan Bay', 15], ['Tindal', 443], ['Mount Hotham', 4260], ['Orange', 3112], ['Armidale', 3556]]

export default {
  components: {
    Title
  },
  methods: {
    randomAirport () {
      return airportsEle[Math.floor(Math.random() * airportsEle.length)]
    },
    randomQNH () {
      return Math.round(Math.random() * 40) + 990
    },
    getQuestion (airportName, airportEle, qnh) {
      return `You are at ${airportName} airport which has an elevation of ${airportEle} feet. The QNH is ${qnh} hPa. What is the pressure altitude?`
    },
    getAnswer (ele, qnh) {
      return (1013 - qnh) * 30 + ele
    },
    questionParams () {
      const airport = this.randomAirport()
      const qnh = this.randomQNH()

      return [airport[0], airport[1], qnh]
    },
    writeQuestion (airportName, airportEle, qnh) {
      const question = this.getQuestion(airportName, airportEle, qnh)
      document.getElementById('correctness').innerHTML = ''
      document.getElementById('explanation').innerHTML = ''
      document.getElementById('question').innerHTML = question
    },
    writeExplanation (_, airportEle, qnh) {
      const qnhisa = 1013 - qnh
      const isadelta = qnhisa * 30
      const palt = isadelta + airportEle

      document.getElementById('explanation').innerHTML = `
        <hr>

        <h2> 1. The International Standard Atmosphere (ISA) has a pressure of 1013.25 hPa at sea level, which you approximate to 1013 hPa. ISA pressure decreases by 1 hPa per 30ft altitude. Pressure altitude is your known altitude corrected for pressure in the standard atmosphere. </h2>
        <p>
          You calculate the difference between the standard atmosphere ${1013} hPa and the known QNH ${qnh} hPa, which is ${qnhisa}
        </p>

        <hr>

        <h2>2. To find by how much to increase your altitude, you increase by 30ft for every hectopascal(hPa).</h2>

        <p>
          To perform this calculation: <br><br>
          <div class="calculation">
            (1013 - QNH) &#215; 30 <br>
            = (1013 - ${qnh}) &#215; 30 <br>
            = ${qnhisa} &#215; 30 <br>
            = ${isadelta}
          </div>
          <br>
          <br>

          You conclude that you must adjust your elevation by ${isadelta} feet.
        </p>

        <hr>

        <h2>3. You add this (${isadelta}) your known field elevation (${airportEle}) to find your pressure altitude </h2>

        <p>
          To perform this entirely as a calculation: <br><br>
          <div class="calculation">
            (1013 - QNH) &#215; 30 + elevation <br>
            = (1013 - ${qnh}) &#215; 30 + ${airportEle} <br>
            = ${qnhisa} &#215; 30 + ${airportEle} <br>
            = ${isadelta} + ${airportEle} <br>
          </div>
          <br>
          <br>

        </p>

        <hr>
        <div class="answer-box">
          <h1>PRESSURE ALTITUDE</h1>
          <h2>${palt} feet</h2>
        </div>
      `
    },
    main () {
      const params = this.questionParams()
      this.writeQuestion(params[0], params[1], params[2])
      const textbox = document.getElementById('answer')
      const correctness = document.getElementById('correctness')

      document.getElementById('submit').addEventListener('click', () => {
        if (textbox.value !== '') {
          const userAnswer = textbox.value
          const answer = this.getAnswer(params[1], params[2])
          if (userAnswer >= answer - tolerance && userAnswer <= answer + tolerance) {
            correctness.innerHTML = `Correct! ${answer} feet is the pressure altitude`
            textbox.value = ''
            document.getElementById('explanation').innerHTML = ''
          } else {
            correctness.innerHTML = `Incorrect, ${textbox.value} feet is not the pressure altitude`
            this.writeExplanation(params[0], params[1], params[2])
            textbox.value = ''
          }
        }
      })

      document.getElementById('tolerance').innerHTML = `tolerance of error &#x00B1;${tolerance}`

      document.getElementById('giveup').addEventListener('click', () => {
        correctness.innerHTML = 'Give Up?'
        this.writeExplanation(params[0], params[1], params[2])
        textbox.value = ''
      })

      document.getElementById('next-question').addEventListener('click', () => {
        const params = this.questionParams()
        this.writeQuestion(params[0], params[1], params[2])
        textbox.value = ''
      })

      textbox.addEventListener('keyup', event => {
        if (event.keyCode === 13) {
          event.preventDefault()
          document.getElementById('submit').click()
        }
      })
    }
  },
  mounted () {
    this.main()
  }
}
</script>

<style lang="scss">
@use '@/styles/_presets.scss';
@import '@/styles/_colors.scss';

.drill-button {
  @extend .rounded;
  background: $secondary;
  padding: 0.5em;
  border: solid 1px $secondary-hover;
  margin: 0.3em 0 0 0.3em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background: $secondary-hover;
  }
}

#answer {
  @extend .rounded;
  border: 1px solid $primary;
  padding: 0.2em;
}

.calculation {
  @extend .rounded;
  background: $primary;
  display: inline-block;
  padding: 1em;
  color: $secondary;
}

.tolerance {
  @extend .rounded;
  background: #ddd;
  display: inline-block;
  padding: 0.4em;
  color: #222;
  font-weight: bold;
}

.answer-box h2 {
  display: inline-block;
  background: black;
  color: white;
  font-size: 2em;
  font-family: monospace;
  padding: 3vw 10vw;
}
</style>
