<template>
  <div>
    <Title title="Aircraft Documentation" />
    <section class="warning">
      <h1>IMPORTANT NOTICE REGARDING FACTORY AIRCRAFT MANUALS</h1>
      <p>
        Factory manuals are NOT a definitive source of information for the purpose of your flight training. Factory manuals are useful only because they can be text-searched to find specific sections of the manual. Once you have found the correct section in the Factory Manual for your information search, refer then to the (scanned) Aircraft Manual in that section and FOR YOUR SPECIFIC AIRCRAFT for the definitive answer. Do not use the Factory manual for arriving at conclusive answers about your training aircraft.
        <br><br>
        For example, you are asked for the Upper Limit for flap extension speed for the Eurofox 3K aircraft that you are training in. You open the Eurofox 3K Factory Manual and find that the Upper Limit for flap extension speed is specified in Section 2.2 of the aircraft manual. You then CLOSE THE FACTORY MANUAL and open the aircraft manual for the specific aircraft Eurofox 3K 24-4844 and scroll to Section 2.2 to find that the Upper Limit for flap extension speed is 81 Knots Indicated Airspeed (KIAS). You crosscheck this by also opening the aircraft manual for the specific aircraft Eurofox 3K 24-5350, scroll to Section 2.2 and find that the speed is also the same for this specific aircraft.
        <br><br>
        You therefore conclude that the Upper Limit for flap extension speed in these two specific Eurofox 3K aircraft to be 81 KIAS.
      </p>
    </section>

    <div class="accordion">
      <AccordionItem class="accordion-item">
        <template v-slot:heading>Eurofox 3K</template>
        <template v-slot:description>
          <DocumentList :documentListItems="eurofoxListItems" />
        </template>
      </AccordionItem>

      <AccordionItem class="accordion-item">
        <template v-slot:heading>Aquila 210</template>
        <template v-slot:description>
          <DocumentList :documentListItems="aquilaListItems" />
        </template>
      </AccordionItem>

      <AccordionItem class="accordion-item">
        <template v-slot:heading>American Champion 8KCAB Super Decathlon</template>
        <template v-slot:description>
          <DocumentList :documentListItems="decathlonListItems" />
        </template>
      </AccordionItem>

      <AccordionItem class="accordion-item">
        <template v-slot:heading>Cessna 152 VH-EGY</template>
        <template v-slot:description>
          <DocumentList :documentListItems="cessna152ListItems" />
        </template>
      </AccordionItem>

      <AccordionItem class="accordion-item">
        <template v-slot:heading>Cessna 172R</template>
        <template v-slot:description>
          <DocumentList :documentListItems="cessna172rListItems" />
        </template>
      </AccordionItem>

      <AccordionItem class="accordion-item">
        <template v-slot:heading>Rotax Engine 912 Series</template>
        <template v-slot:description>
          <DocumentList :documentListItems="rotaxListItems" />
        </template>
      </AccordionItem>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title.vue'
import DocumentList from '@/components/DocumentList.vue'
import AccordionItem from '@/components/AccordionItem.vue'

export default {
  components: {
    Title,
    DocumentList,
    AccordionItem
  },
  data () {
    return {
      eurofoxListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/eurofox-3k/24-4844/eurofox-3k_24-4844.pdf', imagePath: require('@/assets/images/aircraft_manual/eurofox-3k/24-4844/eurofox-3k_24-4844_page1.pdf-150.png'), documentName: '24-4844 Manual' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/eurofox-3k/24-5350/eurofox-3k_24-5350.pdf', imagePath: require('@/assets/images/aircraft_manual/eurofox-3k/24-5350/eurofox-3k_24-5350_page1.pdf-150.png'), documentName: '24-5350 Manual' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/eurofox-3k/POH_Supplement_MTOW.pdf', imagePath: require('@/assets/images/aircraft_manual/eurofox-3k/POH_Supplement_MTOW_page1.pdf-150.png'), documentName: 'PoH Supplement MTOW' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/eurofox-3k/Annex_01-151107.pdf', imagePath: require('@/assets/images/aircraft_manual/eurofox-3k/Annex_01-151107_page1.pdf-150.png'), documentName: 'Annex 15/11/2007' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/eurofox-3k/maintenance-manual.pdf', imagePath: require('@/assets/images/aircraft_manual/eurofox-3k/maintenance-manual_page1.pdf-150.png'), documentName: 'Maintenance Manual' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/eurofox-3k/a240-poh.pdf', imagePath: require('@/assets/images/aircraft_manual/eurofox-3k/a240-poh_page1.pdf-150.png'), documentName: 'Factory Manual' }
      ],
      aquilaListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/aquila-a210/vh-bne/aquila-a210_vh-bne.pdf', imagePath: require('@/assets/images/aircraft_manual/aquila-a210/vh-bne/aquila-a210_vh-bne_page1.pdf-150.png'), documentName: 'VH-BNE Manual' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/aquila-a210/FM_AT01_1010_100E_B04.pdf', imagePath: require('@/assets/images/aircraft_manual/aquila-a210/FM_AT01_1010_100E_B04_page1.pdf-150.png'), documentName: 'Factory Manual' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/aquila-a210/SB_AT01_029_02-AFM_page_1-8_2-4_5.pdf', imagePath: require('@/assets/images/aircraft_manual/aquila-a210/SB_AT01_029_02-AFM_page_1-8_2-4_5_page1.pdf-150.png'), documentName: 'Factory Manual Supplement SB_AT01_029_02' }
      ],
      decathlonListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/8kcab/vh-nqx/8kcab_vh-nqx.pdf', imagePath: require('@/assets/images/aircraft_manual/8kcab/vh-nqx/8kcab_vh-nqx_page1.pdf-150.png'), documentName: 'VH-NQX Manual' }
      ],
      cessna152ListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/00-certificate-of-registration.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/00-certificate-of-registration_page1.pdf-150.png'), documentName: 'Certificate of Registration' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/01-cover.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/01-cover_page1.pdf-150.png'), documentName: 'Cover' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/02-performance-specifications.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/02-performance-specifications_page1.pdf-150.png'), documentName: 'Performance Specifications' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/03-table-of-contents.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/03-table-of-contents_page1.pdf-150.png'), documentName: 'Table of Contents' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/04-section1-general.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/04-section1-general_page1.pdf-150.png'), documentName: 'Section 1 GENERAL' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/05-section2-limitations.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/05-section2-limitations_page1.pdf-150.png'), documentName: 'Section 2 LIMITATIONS' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/06-section3-emergency-procedures.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/06-section3-emergency-procedures_page1.pdf-150.png'), documentName: 'Section 3 EMERGENCY PROCEDURES' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/07-section4-normal-procedures.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/07-section4-normal-procedures_page1.pdf-150.png'), documentName: 'Section 4 NORMAL PROCEDURES' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/08-stc_SA1000NW.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/08-stc_SA1000NW_page1.pdf-150.png'), documentName: 'STC SA1000NW Supplement to C-152 / A-152 Pilots' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/09-section5-performance.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/09-section5-performance_page1.pdf-150.png'), documentName: 'Section 5 PERFORMANCE' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/10-section6-weight-and-balance.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/10-section6-weight-and-balance_page1.pdf-150.png'), documentName: 'Section 6 WEIGHT AND BALANCE' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/11-section7-airplane-and-system-descriptions.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/11-section7-airplane-and-system-descriptions_page1.pdf-150.png'), documentName: 'Section 7 AIRPLANE & SYSTEM DESCRIPTIONS' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/12-section8-airplane-handling-and-maintenance.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/12-section8-airplane-handling-and-maintenance_page1.pdf-150.png'), documentName: 'Section 8 AIRPLANE HANDLING, SERVICE & MAINTENANCE' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-152/vh-egy/13-section9-supplements.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-152/vh-egy/13-section9-supplements_page1.pdf-150.png'), documentName: 'Section 9 SUPPLEMENTS' }
      ],
      cessna172rListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-172r/vh-scn/cessna-172r_vh-scn.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-172r/vh-scn/cessna-172r_vh-scn_page1.pdf-150.png'), documentName: 'VH-SCN Manual' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/cessna-172r/skyhawk_pim-20130523.pdf', imagePath: require('@/assets/images/aircraft_manual/cessna-172r/skyhawk_pim-20130523_page1.pdf-150.png'), documentName: 'Factory Manual' }
      ],
      rotaxListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/aircraft/manual/rotax-912/OM_912 Series_ED4_R0.pdf', imagePath: require('@/assets/images/aircraft_manual/rotax-912/OM_912_Series_ED4_R0_page1.pdf-150.png'), documentName: 'Operators Manual 04/03/2015' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@use '@/styles/_presets.scss';
@import '@/styles/_colors.scss';

.warning {
  @extend .rounded;
  max-width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  background-color: $accent-background;
  color: $secondary;
}

.accordion {
  margin-top: 5vh;
}
</style>
