<template>
  <div>
    <Title title="Archerfield Documentation" />

    <div class="accordion">
      <AccordionItem class="accordion-item">
        <template v-slot:heading>ERSA Archerfield (YBAF)</template>
        <template v-slot:description>
          <DocumentList :documentListItems="ersaListItems" />
        </template>
      </AccordionItem>
      <AccordionItem class="accordion-item">
        <template v-slot:heading>Aeronautical Charts</template>
        <template v-slot:description>
          <DocumentList :documentListItems="aeronauticalChartsListItems" />
        </template>
      </AccordionItem>
      <AccordionItem class="accordion-item">
        <template v-slot:heading>Archerfield Visual Pilot Guide 2010 (CASA)</template>
        <template v-slot:description>
          <DocumentList :documentListItems="visualGuideListItems" />
        </template>
      </AccordionItem>
      <AccordionItem class="accordion-item">
        <template v-slot:heading>Tips for Flying at Archerfield (Airservices)</template>
        <template v-slot:description>
          <DocumentList :documentListItems="tipsListItems" />
        </template>
      </AccordionItem>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title.vue'
import DocumentList from '@/components/DocumentList.vue'
import AccordionItem from '@/components/AccordionItem.vue'

export default {
  components: {
    Title,
    DocumentList,
    AccordionItem
  },
  data () {
    return {
      ersaListItems: [
        { router: false, documentLink: 'https://www.airservicesaustralia.com/aip/current/ersa/FAC_YBAF_05NOV2020.pdf', imagePath: require('@/assets/images/archerfield/ersa-FAC_YBAF_page1-150.png'), documentName: 'Facilities' },
        { router: false, documentLink: 'https://www.airservicesaustralia.com/aip/current/ersa/RDS_YBAF_05NOV2020.pdf', imagePath: require('@/assets/images/archerfield/ersa-RDS_YBAF_page1-150.png'), documentName: 'Runway Distances' }
      ],
      aeronauticalChartsListItems: [
        { router: false, documentLink: 'https://www.airservicesaustralia.com/aip/current/aipchart/vnc/Brisbane_VNC_05NOV2020.pdf', imagePath: require('@/assets/images/archerfield/Brisbane_VNC-150.png'), documentName: 'Brisbane Visual Navigation Chart (VNC)' },
        { router: false, documentLink: 'https://www.airservicesaustralia.com/aip/current/aipchart/vtc/Brisbane_Sunshine_VTC_05NOV2020.pdf', imagePath: require('@/assets/images/archerfield/Brisbane_Sunshine_VTC_rotateW-150.png'), documentName: 'Brisbane/Sunshine Coast Visual Terminal Chart (VTC)' }
      ],
      visualGuideListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/training/archerfield/archerfield-visual-pilot-guide-2010.pdf', imagePath: require('@/assets/images/archerfield/archerfield-visual-pilot-guide-2010_page1-150.png'), documentName: 'Archerfield Visual Pilot Guide 2010' }
      ],
      tipsListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/training/archerfield/16-106FAC_Tips-for-flying-at-Archerfield_WEB.pdf', imagePath: require('@/assets/images/archerfield/16-106FAC_Tips-for-flying-at-Archerfield_WEB_page1-150.png'), documentName: 'Tips for Flying at Archerfield' }
      ]
    }
  }
}
</script>
