<template>
  <div>
    <Title title="Practice Drills" />

    <DocumentList :documentListItems="practiceListItems" />
  </div>
</template>

<script>
import Title from '@/components/Title.vue'
import DocumentList from '@/components/DocumentList.vue'

export default {
  components: {
    Title,
    DocumentList
  },
  data () {
    return {
      practiceListItems: [
        { router: true, documentLink: '/navigation-1-in-60-rule', documentName: 'Navigation 1 in 60 Rule' },
        { router: true, documentLink: '/pressure-altitude-from-qnh-and-elevation', documentName: 'Pressure Altitude from QNH and Elevation' },
        { router: true, documentLink: '/density-altitude-from-pressure-altitude-and-temperature', documentName: 'Density Altitude from Pressure Altitude and Temperature' }
      ]
    }
  }
}
</script>
