<template>
  <div>
    <Title title="Archerfield Documentation" />

    <div class="accordion">
      <AccordionItem class="accordion-item">
        <template v-slot:heading>RA-Aus Operations Manual (Issue 7.1 August 2016)</template>
        <template v-slot:description>
          <DocumentList :documentListItems="operationsListItems" />
        </template>
      </AccordionItem>
      <AccordionItem class="accordion-item">
        <template v-slot:heading>RA-Aus Syllabus of Flight Training (Issue 7 October 2014)</template>
        <template v-slot:description>
          <DocumentList :documentListItems="syllabusListItems" />
        </template>
      </AccordionItem>
      <AccordionItem class="accordion-item">
        <template v-slot:heading>RA-Aus Technical Manual (Issue 4 August 2016)</template>
        <template v-slot:description>
          <DocumentList :documentListItems="technicalListItems" />
        </template>
      </AccordionItem>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title.vue'
import DocumentList from '@/components/DocumentList.vue'
import AccordionItem from '@/components/AccordionItem.vue'

export default {
  components: {
    Title,
    DocumentList,
    AccordionItem
  },
  data () {
    return {
      operationsListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/5-om-71-august-2016-single-pages.pdf', imagePath: require('@/assets/images/raaus_documentation/5-om-71-august-2016-single-pages_page1.pdf-150.png'), documentName: 'COMPLETE' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/5-om-71-august-2016-single-pages/table-of-contents.pdf', imagePath: require('@/assets/images/raaus_documentation/5-om-71-august-2016-single-pages/table-of-contents_page1.pdf-150.png'), documentName: 'Table of Contents' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/5-om-71-august-2016-single-pages/2.01-pilot-certificate-group-a-and-b.pdf', imagePath: require('@/assets/images/raaus_documentation/5-om-71-august-2016-single-pages/2.01-pilot-certificate-group-a-and-b_page1.pdf-150.png'), documentName: 'Pilot Certificate - Group A and B 2.01' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/5-om-71-august-2016-single-pages/2.04-pilot-certificates-aeroplane-groups.pdf', imagePath: require('@/assets/images/raaus_documentation/5-om-71-august-2016-single-pages/2.04-pilot-certificates-aeroplane-groups_page1.pdf-150.png'), documentName: 'Pilot Certificates - Aeroplane Groups 2.04' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/5-om-71-august-2016-single-pages/2.06-student-or-converting-pilot-certificate.pdf', imagePath: require('@/assets/images/raaus_documentation/5-om-71-august-2016-single-pages/2.06-student-or-converting-pilot-certificate_page1.pdf-150.png'), documentName: 'Student or Converting Pilot Certificate 2.06' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/5-om-71-august-2016-single-pages/2.07-pilot-certificate-group-a-and-b.pdf', imagePath: require('@/assets/images/raaus_documentation/5-om-71-august-2016-single-pages/2.07-pilot-certificate-group-a-and-b_page1.pdf-150.png'), documentName: 'Pilot Certificate - Group A and B 2.07' }
      ],
      syllabusListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1_page1.pdf-150.png'), documentName: 'COMPLETE' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/table-of-contents.pdf', imagePath: require('@/assets/images/raaus_documentation/5-om-71-august-2016-single-pages/table-of-contents_page1.pdf-150.png'), documentName: 'Table of Contents' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.01-group-a-3-axis-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.01-group-a-3-axis-syllabus_page1.pdf-150.png'), documentName: 'Group A (3-axis) Syllabus 1.01' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.04-passenger-carrying-endorsement-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.04-passenger-carrying-endorsement-syllabus_page1.pdf-150.png'), documentName: 'Passenger Carrying Endorsement Syllabus 1.04' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.05-cross-country-endorsement-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.05-cross-country-endorsement-syllabus_page1.pdf-150.png'), documentName: 'Cross Country Endorsement Syllabus 1.05' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.06-formation-endorsement-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.06-formation-endorsement-syllabus_page1.pdf-150.png'), documentName: 'Formation Endorsement Syllabus 1.06' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.08-low-level-endorsement-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/1.08-low-level-endorsement-syllabus_page1.pdf-150.png'), documentName: 'Low Level Endorsement Syllabus 1.08' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.01-basic-aeronautical-knowledge-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.01-basic-aeronautical-knowledge-syllabus_page1.pdf-150.png'), documentName: 'Basic Aeronautical Knowledge Syllabus 2.01' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.02-air-legislation-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.02-air-legislation-syllabus_page1.pdf-150.png'), documentName: 'Air Legislation Syllabus 2.02' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.03-navigation-and-meteorology-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.03-navigation-and-meteorology-syllabus_page1.pdf-150.png'), documentName: 'Navigation and Meteorology Syllabus 2.03' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.04-radio-operator-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.04-radio-operator-syllabus_page1.pdf-150.png'), documentName: 'Radio Operator Syllabus 2.04' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.05-human-factors-syllabus.pdf', imagePath: require('@/assets/images/raaus_documentation/1-syllabus-of-flight-training-issue-7-v2-single-pages-1/2.05-human-factors-syllabus_page1.pdf-150.png'), documentName: 'Human Factors Syllabus 2.05' }
      ],
      technicalListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/2-raaus-technical-manual-issue-4-single-pages.pdf', imagePath: require('@/assets/images/raaus_documentation/2-raaus-technical-manual-issue-4-single-pages_page1.pdf-150.png'), documentName: 'COMPLETE' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/2-raaus-technical-manual-issue-4-single-pages/table-of-contents.pdf', imagePath: require('@/assets/images/raaus_documentation/5-om-71-august-2016-single-pages/table-of-contents_page1.pdf-150.png'), documentName: 'Table of Contents' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/2-raaus-technical-manual-issue-4-single-pages/abbreviations-and-definitions.pdf', imagePath: require('@/assets/images/raaus_documentation/2-raaus-technical-manual-issue-4-single-pages/abbreviations-and-definitions_page1.pdf-150.png'), documentName: 'Abbreviations and Definitions' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/2-raaus-technical-manual-issue-4-single-pages/5.1-aircraft-registration.pdf', imagePath: require('@/assets/images/raaus_documentation/2-raaus-technical-manual-issue-4-single-pages/5.1-aircraft-registration_page1.pdf-150.png'), documentName: 'Aircraft Registration 5.1' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/raaus-documentation/2-raaus-technical-manual-issue-4-single-pages/12.1-daily-and-pre-flight-inspections.pdf', imagePath: require('@/assets/images/raaus_documentation/2-raaus-technical-manual-issue-4-single-pages/12.1-daily-and-pre-flight-inspections_page1.pdf-150.png'), documentName: 'Daily and Pre-flight Inspections 12.1' }
      ]
    }
  }
}
</script>
