<template>
  <div>
    <Title title="Radio Practice" subtitle="Archerfield Radio Reference Cards" />
    <DocumentList :documentListItems="radioListItems" />
  </div>
</template>

<script>
import Title from '@/components/Title.vue'
import DocumentList from '@/components/DocumentList.vue'

export default {
  components: {
    Title,
    DocumentList
  },
  data () {
    return {
      radioListItems: [
        { router: false, documentLink: 'https://flightscope.gitlab.io/radio-reference/ybaf_after-start-up.pdf', imagePath: require('@/assets/images/radio_reference/ybaf_after-start-up_page1.pdf-150.png'), documentName: 'after start-up, requesting taxi clearance' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/radio-reference/ybaf_holding-ready.pdf', imagePath: require('@/assets/images/radio_reference/ybaf_holding-ready_page1.pdf-150.png'), documentName: 'holding, ready for take-off' },
        { router: false, documentLink: 'https://flightscope.gitlab.io/radio-reference/ybaf_target-inbound.pdf', imagePath: require('@/assets/images/radio_reference/ybaf_target-inbound_page1.pdf-150.png'), documentName: 'Target, reporting inbound' }
      ]
    }
  }
}
</script>
