@import '@/styles/_colors.scss';

.titleshadow {
  text-shadow: 0px 3px 3px $primary;
}

a {
  color: $primary;
  text-decoration: underline;
  transition: color 0.3s;
  &:hover {
    color: darken($primary, 20%);
  }
}

h1 {
  font-size: calc(1em + 2.5vh);
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: calc(1em + 1vh);
  font-weight: 400;
  margin: 0;
}

.rounded {
  border-radius: 1vh;
}

@mixin news-page {
  section {
    text-align: left;
    margin: auto;
    width: 50vw;
  }

  ol {
    list-style-type: lower-roman;

    &, ul {
      text-align: left;
    }
  }

  img {
    height: 50vh;
    max-width: 100%;
    @extend .rounded;
  }
}

@mixin program-page {
  h1 {
    text-decoration: underline;
  }

  .program-description {
    width: 80vw;
    margin: 5vh auto;
  }

  .program-list {
    list-style-type: square;
    text-align: left;
  }

  .contact-card {
    margin-bottom: 5vh;
  }

  .list-container {
    display: inline-block;
  }
}
