<template>
  <div>
    <Title title="TEAM FLIGHTSCOPE" />
    <div class="team">
      <TeamMember :imagePath="require('@/assets/images/team/rod-flockhart-250.png')" name="Rod Flockhart" role="Chief Flying Instructor">Rod has been a pilot since the late 80s and started his career as a Qantas Aircraft Maintenance Engineer. Rod then worked as a flight instructor and charter pilot before joining Qantaslink flying Dash 8s around Queensland before becoming a training captain with them.</TeamMember>
      <TeamMember :imagePath="require('@/assets/images/team/tom-evans-250.png')" name="Tom Evans" role="RA-Aus &amp; GA Instructor">Never a bad word could be spoken about Tom. Extremely hardworking and a genuinely caring Instructor. He is dedicated to helping his students on their path to becoming well trained pilots. As our Instructor, he is an invaluable member of the team.</TeamMember>
      <TeamMember :imagePath="require('@/assets/images/team/craig-lathwood-250.png')" name="Craig Lathwood" role="RA-Aus Instructor">Our weekend warrior, Craig Lathwood brings his love and passion of aviation with him each day. His excitement and energy is contagious and makes for great flight experiences.</TeamMember>
      <TeamMember :imagePath="require('@/assets/images/team/steve-taddeucci-cropped-250.jpg')" name="Steve Taddeucci" role="GA Instructor &amp; Examiner">In 40 years of professional flying with over 20000 hours engaged in charter, aerial advertising, aerial mapping &amp; photographic survey, agricultural flying, instructing and testing. I am happy to join the team here at Flightscope Aviation and help other aspiring aviators reach their goals.</TeamMember>
      <TeamMember :imagePath="require('@/assets/images/team/tony-morris-cropped-250.jpg')" name="Tony Morris" role="RA-Aus Instructor">Tony is a passionate instructor, always looking to encourage and assist students to achieve their best. His instruction combines some fun, whilst also sharing aeronautical theory and aircraft handling, to bring out the highest performance and flight training experience for his students.</TeamMember>
      <TeamMember :imagePath="require('@/assets/images/team/nathan-holloway-cropped-250.jpg')" name="Nathan Holloway" role="RA-Aus Instructor">Nathan has an enthusiasm for aeroplanes which extends far beyond his job. Whether it's instructing or maintaining our fleet of aircraft, he brings enthusiasm and determination to the Flightscope team. Nathan is always keen to talk aviation, just ask him!</TeamMember>
      <TeamMember :imagePath="require('@/assets/images/team/jimmy-serrano-cropped-250.jpg')" name="Jimmy Serrano" role="RA-Aus Instructor">Jimmy is a quirky lover of all things aviation, with a cool, calm, and collected approach to instructing. His unruffled demeanour and positive disposition make him an ideal instructor for both new and experienced students. Jimmy has a determination to better himself and provide his students the best possible education, which means he can often be found nose deep in a textbook.</TeamMember>
      <TeamMember :imagePath="require('@/assets/images/team/regan-lacey1-cropped-250.jpg')" name="Regan Lacey" role="RA-Aus Instructor">Regan’s passion for aviation is infectious! A former peanut muncher from Kingaroy, Regan learnt to fly Gliders at age 13 and has since spent many years flying for fun. As a proud member of the Flightscope team, Regan enjoys sharing his love of flying whilst watching those around him realise their own aviation goals!</TeamMember>
    </div>
    <MoreAbout class="moreabout" />
    <TrainingApproval />
  </div>
</template>

<script>
import Title from '@/components/Title.vue'
import MoreAbout from '@/components/MoreAbout.vue'
import TrainingApproval from '@/components/TrainingApproval.vue'
import TeamMember from '@/components/TeamMember.vue'

export default {
  components: {
    MoreAbout,
    Title,
    TrainingApproval,
    TeamMember
  }
}
</script>

<style lang="scss" scoped>
@use '@/styles/_presets.scss';
@import '@/styles/_colors.scss';

.team {
  display: inline-grid;
  width: 90vw;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10vh;
  margin: 0 auto 10vh auto;
}
</style>
