<template>
  <div>
    <Title title="Flightscope Aviation Aircraft Fleet" />
    <div class="fleet">
      <FleetItem planeName="Eurofox 3K &quot;Miss February&quot;" :images="missFebruaryImages" :properties="missFebruary" />
      <FleetItem planeName="Eurofox 3K &quot;Mo Mo&quot;" :images="moMoImages" :properties="moMo" />
      <FleetItem planeName="8KCAB Super Decathlon" :images="decathlonImages" :properties="decathlon" />
      <FleetItem planeName="Aquila A210 &quot;Bonnie&quot;" :images="bonnieImages" :properties="bonnie" />
      <FleetItem planeName="Extra 300" :images="extraImages" :properties="extra" />
      <FleetItem planeName="Cessna 172R Skyhawk" :images="cessna172RImages" :properties="cessna172R" />
    </div>
  </div>
</template>

<script>
import FleetItem from '@/components/FleetItem.vue'
import Title from '@/components/Title.vue'

export default {
  components: {
    FleetItem,
    Title
  },
  data () {
    return {
      missFebruaryImages: [
        require('@/assets/images/aircraft_images/24-4844/exterior-front-600.jpg'),
        require('@/assets/images/aircraft_images/24-4844/exterior-600.jpg'),
        require('@/assets/images/aircraft_images/24-4844/cockpit-gps-close-up-600.jpg'),
        require('@/assets/images/aircraft_images/24-4844/cockpit-600.jpg'),
        require('@/assets/images/aircraft_images/24-4844/cockpit-pilot-side-600.jpg'),
        require('@/assets/images/aircraft_images/24-4844/cockpit-trim-flaps-600.jpg'),
        require('@/assets/images/aircraft_images/24-4844/cockpit-gps-600.jpg'),
        require('@/assets/images/aircraft_images/24-4844/cockpit-pax-side-600.jpg'),
        require('@/assets/images/aircraft_images/24-4844/cockpit-rudder-pedals-600.jpg')
      ],
      missFebruary: [
        ['MTOW', '560 kg (1235 lb)'],
        ['Empty', '288 kg (635 lb)'],
        ['Usable Load', '272 kg (600 lb)'],
        ['Cruise', '100 knots (185 kph)'],
        ['Engine', 'Rotax 912ULS 100hp'],
        ['Fuel Capacity', '85 L'],
        ['Fuel Burn', '20 L/hr'],
        ['Crew', '1'],
        ['Passengers', '1'],
        ['Manufactured', 'Slovakia'],
        ['Flight Manual', 'pdf', 'https://flightscope.gitlab.io/aircraft/manual/eurofox-3k/24-4844/eurofox-3k_24-4844.pdf'],
        ['Avionics', 'Dynon EFIS-D100']
      ],
      moMoImages: [
        require('@/assets/images/aircraft_images/24-5350/exterior-600.jpg'),
        require('@/assets/images/aircraft_images/24-5350/cockpit-gps-close-up-600.jpg'),
        require('@/assets/images/aircraft_images/24-5350/cockpit-gps-600.jpg'),
        require('@/assets/images/aircraft_images/24-5350/cockpit-600.jpg'),
        require('@/assets/images/aircraft_images/24-5350/cockpit-pax-side-600.jpg'),
        require('@/assets/images/aircraft_images/24-5350/cockpit-pilot-side-600.jpg'),
        require('@/assets/images/aircraft_images/24-5350/cockpit-rudder-pedals-600.jpg'),
        require('@/assets/images/aircraft_images/24-5350/cockpit-trim-flaps-600.jpg'),
        require('@/assets/images/aircraft_images/24-5350/exterior-600.jpg')
      ],
      moMo: [
        ['MTOW', '560 kg (1235 lb)'],
        ['Empty', '303 kg (668 lb)'],
        ['Usable Load', '257 kg (567 lb)'],
        ['Cruise', '100 knots (185 kph)'],
        ['Engine', 'Rotax 912ULS 100hp'],
        ['Capacity', '85 L'],
        ['Fuel Burn', '20 L/hr'],
        ['Crew', '1'],
        ['Passengers', '1'],
        ['Manufactured', 'Slovakia'],
        ['Flight Manual', 'pdf', 'https://flightscope.gitlab.io/aircraft/manual/eurofox-3k/24-5350/eurofox-3k_24-5350.pdf'],
        ['Avionics', 'Dynon FlightDEK D180 & Dynon EFIS-D100']
      ],
      decathlonImages: [
        require('@/assets/images/aircraft_images/vh-nqx/left-lateral-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/left-behind2-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/right-lateral-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/left-front-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/right-behind-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/left-lateral-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-left-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-breakers-fuel-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-right-bottom2-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-throttle-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-right-bottom-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/front-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-right-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-left-bottom2-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-fuel-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-left-bottom-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/left-behind-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-left-seat-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-rear-seat-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/cockpit-centre-600.jpg'),
        require('@/assets/images/aircraft_images/vh-nqx/right-behind2-600.jpg')
      ],
      decathlon: [
        ['MTOW', '885 kg (1950 lb)'],
        ['Empty', '616 kg (1358 lb)'],
        ['Usable Load', '269 kg (592 lb)'],
        ['Cruise', '120 knots (259 kph)'],
        ['Engine', 'Lycoming IO-360 180hp'],
        ['Fuel Capacity', '151 L'],
        ['Fuel Burn', '36 L/hr'],
        ['Crew', '1'],
        ['Passengers', '1'],
        ['Manufactured', 'USA'],
        ['Flight Manual', 'pdf', 'https://flightscope.gitlab.io/aircraft/manual/8kcab/vh-nqx/8kcab_vh-nqx.pdf']
      ],
      bonnieImages: [
        require('@/assets/images/aircraft_images/vh-bne/bne-exterior-600.jpg'),
        require('@/assets/images/aircraft_images/vh-bne/aquila-a210.webp'),
        require('@/assets/images/aircraft_images/vh-bne/bne-behind.jpg'),
        require('@/assets/images/aircraft_images/vh-bne/cockpit-600.jpg'),
        require('@/assets/images/aircraft_images/vh-bne/comm-stack-600.jpg'),
        require('@/assets/images/aircraft_images/vh-bne/g500-600.jpg'),
        require('@/assets/images/aircraft_images/vh-bne/throttle-600.jpg')
      ],
      bonnie: [
        ['MTOW', '750 kg (1653 lb)'],
        ['Empty', '521 kg (1148 lb)'],
        ['Usable Load', '229 kg (505 lb)'],
        ['Cruise', '120 knots (222 kph)'],
        ['Engine', 'Rotax 912ULS 100hp'],
        ['Fuel Capacity', '120 L'],
        ['Fuel Burn', '22 L/hr'],
        ['Crew', '1'],
        ['Passengers', '1'],
        ['Manufactured', 'Germany'],
        ['Flight Manual', 'pdf', 'https://flightscope.gitlab.io/aircraft/manual/aquila-a210/vh-bne/aquila-a210_vh-bne.pdf'],
        ['Avionics', 'Garmin G500 Glass Cockpit']
      ],
      extraImages: [
        require('@/assets/images/aircraft_images/vh-ciz/extra-300.webp'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3347-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3350-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3375-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3382-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3413-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3473-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3500-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3583-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3606-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3625-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3626-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3627-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3642-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3737-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3744-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/BD5C3847-600.jpg'),
        require('@/assets/images/aircraft_images/vh-ciz/extra-300-2-600.jpg')
      ],
      extra: [
        ['MTOW', '950 kg (2094 lb)'],
        ['Empty', '694 kg (1530 lb)'],
        ['Usable Load', '256 kg (564 lb)'],
        ['Cruise', '160 knots (296 kph)'],
        ['Engine', 'Lycoming IO-540 300hp'],
        ['Fuel Capacity', '189 L'],
        ['Fuel Burn', '60 L/hr'],
        ['Crew', '1'],
        ['Passengers', '1'],
        ['Manufactured', 'Germany']
      ],
      cessna172RImages: [
        require('@/assets/images/aircraft_images/vh-scn/scn-exterior-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/attitude-indicator-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-06-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-03-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/fuel-instruments-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/vh-scn-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-05-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-04-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-07-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-08-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/flap-lever-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/pilot-side-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/comm-stack-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/fuel-tank-instruments-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/switches-and-circuit-breakers-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/throttle-mixture-control-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-01-600.jpg'),
        require('@/assets/images/aircraft_images/vh-scn/cockpit-02-600.jpg')
      ],
      cessna172R: [
        ['MTOW', '1111 kg (2450 lb)'],
        ['Empty', '762 kg (1679 lb)'],
        ['Usable Load', '342 kg (771 lb)'],
        ['Cruise', '120 knots (222 kph)'],
        ['Engine', 'Lycoming IO-360 160hp'],
        ['Fuel Capacity', '212 L'],
        ['Fuel Burn', '40 L/hr'],
        ['Crew', '1'],
        ['Passengers', '3'],
        ['Manufactured', 'USA'],
        ['Flight Manual', 'pdf', 'https://flightscope.gitlab.io/aircraft/manual/cessna-172r/vh-scn/cessna-172r_vh-scn.pdf']
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.fleet {
  display: inline-grid;
  width: 100%;
  @media screen and (max-width: 600px) { grid-template-columns: 1fr; }
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 5vh;
}
</style>
