<template>
  <div class="notfound-wrapper">
    <div class="notfound">
      <h3>OOPS! PAGE NOT FOUND.</h3>
      <h1><span>4</span><span>0</span><span>4</span></h1>
      <h2>IS IT TIME TO EXECUTE LOST PROCEDURE?</h2>
    </div>
  </div>

</template>

<style lang="scss" scoped>
@use '@/styles/_presets.scss';

.notfound-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.notfound {
  max-width: 90vw;
  display: flex;
  align-self: center;
  flex-direction: column;

  h3 {
    margin-bottom: -5em;
  }

  h1 {
    // position: absolute;
    font-size: calc(1em + 30vh);
    letter-spacing: -0.2em;
    margin-right: 0.2em;
    & > span {
      text-shadow: -8px 0px 0px #fff;
    }
  }

  h2 {
    margin-top: -3em;
  }
}
</style>
