<template>
  <div>
    <Title title="Student Resources" />
    <DocumentList :documentListItems="resourcesListItems" />
  </div>
</template>

<script>
import DocumentList from '@/components/DocumentList.vue'
import Title from '@/components/Title.vue'

export default {
  components: {
    DocumentList,
    Title
  },
  data () {
    return {
      resourcesListItems: [
        { router: true, documentLink: '/aircraft-documentation', iconGroup: 'fa', icon: 'file-alt', documentName: 'Aircraft Documentation' },
        { router: true, documentLink: '/archerfield-documentation', iconGroup: 'fa', icon: 'file-alt', documentName: 'Archerfield Documentation' },
        { router: true, documentLink: '/ra-aus-documentation', iconGroup: 'fa', icon: 'file-alt', documentName: 'RA-Aus Documentation' },
        { router: true, documentLink: '/homework-sheets', iconGroup: 'fa', icon: 'file-signature', documentName: 'Homework Sheets' },
        { router: true, documentLink: '/radio-practice', iconGroup: 'fa', icon: 'broadcast-tower', documentName: 'Radio Practice' },
        { router: true, documentLink: '/practice-drills', iconGroup: 'fa', icon: 'pencil-ruler', documentName: 'Practice Drills' },
        { router: true, documentLink: '/videos', iconGroup: 'fa', icon: 'video', documentName: 'Videos' },
        { router: false, documentLink: 'https://vfrg.casa.gov.au/', iconGroup: 'fa', icon: 'file', documentName: 'Visual Flight Rules Guide (VFRG) (web)' },
        { router: false, documentLink: 'http://vfrg.casa.gov.au/wp-content/uploads/2020/05/visual-flight-rules-guide.pdf', iconGroup: 'fa', icon: 'file', documentName: 'Visual Flight Rules Guide (VFRG) (pdf)' },
        { router: false, documentLink: 'https://www.airservicesaustralia.com/naips/Account/Logon', iconGroup: 'fa', icon: 'file', documentName: 'Airservices NAIPS' },
        { router: false, documentLink: 'https://www.airservicesaustralia.com/aip/aip.asp', iconGroup: 'fa', icon: 'file', documentName: 'Airservices Aeronautical Information Package (AIP)' }
      ]
    }
  }
}
</script>
