<template>
  <div class="contact-grid">
    <div class="contact-information">
      <h1>CONTACT</h1>
      <p><a href="mailto:info@flightscopeaviation.com.au">info@flightscopeaviation.com.au</a></p>
      <p><a href="tel:0732727707">(07) 3272 7707</a></p>
      <p>115 Hudson Pl, Archerfield QLD 4108, Australia</p>
      <a class="contact-link link-icon" href="https://www.facebook.com/FlightscopeAviation/"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook-f' }" /></a>
      <a class="contact-link link-icon" href="https://www.google.com/maps/place/Flightscope+Aviation/@-27.5726728,153.0097956,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xda4ea2e286ff60a4!8m2!3d-27.5726728!4d153.0119843"><font-awesome-icon :icon="{ prefix: 'fas', iconName: 'map-marker-alt' }" /></a>
      <a class="contact-link link-icon" href="https://twitter.com/flightscope_"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'twitter' }" /></a>
      <a class="contact-link link-icon" href="https://www.instagram.com/flightscopeaviation/"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'instagram' }" /></a>
      <a class="contact-link link-icon" href="https://www.youtube.com/channel/UCzTw1cyqyeOR6hKoqURDPHw"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'youtube' }" /></a>
      <br>
      <br>
      <p>© 2020 by Flightscope Aviation.</p>
      <p><router-link to="/about-us" class="contact-link">CASA. 141 FTO.0281</router-link></p>
    </div>
    <div class="contact-image" />
  </div>
</template>

<style lang="scss" scoped>
@use '@/styles/_presets.scss';
@import '@/styles/_colors.scss';

.contact-grid {
  display: inline-grid;
  @media screen and (max-width: 600px) { grid-template-columns: 1fr; }
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  margin: 5vh 0;
}

.contact-information {
  text-align: center;
  background-color: $secondary;
  padding: 5vh 0;
}

.contact-image {
  background: url('~@/assets/images/www/contact-800.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-icon {
  margin: 0 1vh;
}
</style>
