<template>
  <div class="about-grid">
    <div class="about-information">
      <h1>MORE ABOUT FLIGHTSCOPE AVIATION</h1>
      <p>
        Flightscope Aviation is a registered flight training organisation which operates under both the Recreational Aviation Australia Incorporated (RA-Aus) and General Aviation under CASA Part 141 (CASA. 141 FTO.0281). <br><br>
        We conduct a broad range of flight training from a student pilots first lesson to advanced aerobatic training. <br><br>
        Part-time and full-time training is conducted from our training facility located at Brisbane's most popular general aviation airfield, Archerfield Airport.
      </p>
    </div>
    <div class="about-image" />
  </div>
</template>

<style lang="scss" scoped>
@import '@/styles/_colors.scss';

.about-grid {
  display: inline-grid;
  @media only screen and (max-width: 1600px) {
    grid-template-columns: 1fr;
  }
  @media only screen and (min-width: 1600px) {
    grid-template-columns: 1fr 1fr;
  }
}

.about-information {
  text-align: center;
  background-color: $secondary;
  padding: 5vh 5vh;
}

.about-image {
  background: url('~@/assets/images/www/moreabout-800.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
